@media (max-width: 1000px) {
    .main {
        &__action-box {
            font-size: 2em;
        }
        &__grid {
            display: flex;
            flex-wrap: wrap;
            &__column {
                --gap: 10px;
                gap: var(--gap);
                width: 50%;
                display: grid;
                &__img-box {
                    display: flex;
                }
            }
        }
    }
}