@media (max-width: 1000px) {
    .header {
        height: 120px;
        max-height: 120px;
        min-height: 120px;
        &__logo {
            font-size: 50px;
            &__image {
                width: 40px;
                height: 40px;
            }
        }
    }
}